%h1 Listing coaches

%table
  %thead
    %tr
      %th Coach name
      %th
      %th
      %th

  %tbody
    - @coaches.each do |coach|
      %tr
        %td= coach.coach_name
        %td= link_to 'Show', coach
        %td= link_to 'Edit', edit_coach_path(coach)
        %td= link_to 'Destroy', coach, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Coach', new_coach_path
